body {
    background-color: black;
}
.container {
    background-color: #F5F5F5;
    width: 340px;
    height: 215px;
    display: block;
    margin: 20% auto;
}

.filter {
    font-family: 'Merriweather', serif;
    font-weight: 900;
    font-size: 15px;
    padding: 10px 10px 5px 10px;

}

.dividing-line {
    margin: 10px;
    border-color: #E4E4E4 ;
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-width: 2px;
}

.items {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 800;
    padding: 15px 10px;
}

li {
    display: inline;
    background-color: white;
    padding: 5px 8px;
    margin: 0 2px;
    line-height: 2.9;
    white-space: nowrap;
    border-radius: 4px;
    box-shadow: 2px 2px 8px 3px #E8E8E8;
}